.vertex {
  position: absolute;
  width: 1.8%;
  height: 1.8%;
  border: 0.2vw solid white;
  border-radius: 50%;
  background-color: rgba(235, 234, 234, 0.35);
  z-index: 10;
  transform: translate(-50%, -50%);
}


.vertex:hover {
  opacity: 0.7;
  cursor: pointer;
}

.has-settlement {
  border-color: black;
  background-color: rgba(129, 129, 129, 0.5);
  pointer-events: none;
}
